* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #c5c9cd;
}
header {
    background-color: white;
    padding: 20px;
}
.logo-text {
    font-size: 50px;
    font-weight: bolder;
    vertical-align: middle;
}
.logo {
    vertical-align: middle;
    
}


main {
    margin-top: 50px;

}

.css-button {
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 20px;
    
}


.wrapper {
    width: 1200px;
    margin: auto;
    border: 1px solid #c5c9cd;
    background-color: white;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom:20px;
}
.section-button {
    
    margin-bottom: 2px;
    border-bottom:1px solid #c5c9cd;
}

#button-1 {
    background-color: #47adf1;
    color: white;
    margin-left: 50px;
    border: 1px solid transparent;
}
#button-2 {
    background-color: white;
    margin-left: 10px;
    color: #d8d8d8;
    border: 1px solid #d8d8d8;
}


ul {
    list-style: none;
    margin-left: 0;
 }

.nome-lista {
    font-size: 30px;
    font-weight: bolder;   
   
    
}


.box-1, .box-2, .box-3 {
    margin: 30px auto;
}
.color-blue {
    background-color: #45abea;
}
#color-viola {
    background-color: #9c72e4;
}
#color-green {
    background-color: #64c0a9;
}
#color-orange {
    background-color: #f29f33;
}
#color-rosa {
    background-color: #d863bf;
}
#color-green-light {
    background-color: #b1c926;
}
.caption {
    display: inline-block;
    color: white;
    border-radius: 15px;
    width:80px;
    height:30px;
    text-align:center;
    line-height:30px;
    margin: 6px;
}

.circle-check-mark {
    display: inline-block;
    color: green;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid green;
    margin: 5px; 
}

.saltire{
    display: inline-block;
    color: red;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid red;
    margin: 5px;
}







